html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg: #f3f2eb;
  --bg-hover: rgba(123, 154, 255, 0.07);
  --fg: rgba(0, 0, 0, 0.8);
  --fg-light: rgba(0, 0, 0, 0.4);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgba(50, 121, 187, 1);
  --panel: #fff;
  --border: rgba(182, 182, 182, 0.424);
  --success: #64ac90;
  --warning: #ffba4c;
  --error: #fc4979;
  --bold: 600;
  --thin: 400;
  --bold-letter-spacing: 0.1rem;
}

[data-theme="dark"] {
  --bg: hsl(330, 10%, 23%);
  --bg-hover: rgba(212, 222, 255, 0.07);
  --fg: rgba(255, 255, 250, 0.9);
  --fg-light: rgba(255, 255, 250, 0.5);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgb(104, 176, 243);
  --panel: hsl(30, 1%, 38%);
  --border: rgba(0, 0, 0, 0.3);
  --error: #f04f7a;
  --bold: 400;
  --thin: 300;
  --bold-letter-spacing: 0.127rem;
}

[data-theme="dark"] .icon-tabler {
  stroke-width: 1.6;
}

body {
  background: var(--bg);
  color: var(--fg);
  fill: var(--fg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 130%;
  overflow-x: scroll;
}

a {
  color: var(--link);
}

/* LAYOUT ------------------------------------------------------------------- */

nav {
  position: fixed;
  z-index: 2;
  background: var(--panel);
  border-right: 1px solid var(--border);
  width: 5rem;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

main {
  position: fixed;
  left: 5rem;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1.2rem;
  overflow-y: scroll;
}

/* NAVIGATION --------------------------------------------------------------- */

nav > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: outside;
}
nav > ul > li {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  color: var(--fg);
  fill: var(--fg);
}
nav > ul > li:hover,
nav > ul > li:active {
  background: var(--bg-hover);
  color: var(--link-high-contrast);
  fill: var(--link-high-contrast);
}
nav > ul > li.active {
  color: var(--link-high-contrast);
  fill: var(--link-high-contrast);
}
nav > ul > li > h2 {
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* COLOR DEMO --------------------------------------------------------------- */

.color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
}
.color-fg {
  background: var(--fg);
}
.color-link {
  background: var(--link);
}
.color-link-hi-c {
  background: var(--link-high-contrast);
}
.color-success {
  background: var(--success);
}
.color-warning {
  background: var(--warning);
}
.color-error {
  background: var(--error);
}

/* TYPOGRAPHY --------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--bold-letter-spacing);
  font-weight: var(--bold);
}

h2 {
  font-size: 1.15rem;
  font-weight: var(--bold);
}

h3 {
  font-size: 0.76rem;
  text-transform: uppercase;
  font-weight: var(--thin);
  color: var(--fg-light);
  letter-spacing: var(--bold-letter-spacing);
  margin-bottom: 0;
}

h4,
h5,
h6 {
  font-size: 0.9rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

/* SECTIONS ----------------------------------------------------------------- */

main > article > section {
  background: var(--panel);
  border: 1px solid var(--border);
  padding: 0.8rem 1rem;
}

main > article > section > data,
main > article > section > time {
  display: inline-block;
  color: var(--success);
}
main > article > section > data.big,
main > article > section > time.big {
  font-size: 2rem;
  font-weight: var(--bold);
}

/* OVERVIEW ----------------------------------------------------------------- */

section.overview {
  min-width: 37rem;
  display: grid;
  grid-template-columns: 5rem 2fr 2rem 2fr 5rem 2fr;
  column-gap: 2rem;
  grid-template-rows: 1.7rem 3rem repeat(3, 2rem);
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    "l1a v1a l2a v2a l3a v3a"
    "l1b v1b l2b v2b l3b v3b"
    "l1c v1c . . . ."
  ;
}
section.overview > h2 {
  grid-row-start: 1;
  grid-column-start: span 2;
  white-space: nowrap;
}
section.overview > .big {
  grid-row-start: 2;
  grid-column-start: span 2;
}
section.overview > h3,
section.overview > data:not(.big),
section.overview > time:not(.big) {
  align-self: center;
}
section.overview > h3:nth-of-type(1) { grid-area: l1a; }
section.overview > h3:nth-of-type(2) { grid-area: l1b; }
section.overview > h3:nth-of-type(3) { grid-area: l1c; }
section.overview > h3:nth-of-type(4) { grid-area: l2a; }
section.overview > h3:nth-of-type(5) { grid-area: l2b; }
section.overview > h3:nth-of-type(6) { grid-area: l3a; }
section.overview > h3:nth-of-type(7) { grid-area: l3b; }

section.overview > data:nth-of-type(2) { grid-area: v1a; }
section.overview > data:nth-of-type(3) { grid-area: v1b; }
section.overview > data:nth-of-type(4) { grid-area: v1c; }
section.overview > time:nth-of-type(2) { grid-area: v2a; }
section.overview > time:nth-of-type(3) { grid-area: v2b; }
section.overview > data:nth-of-type(6) { grid-area: v3a; }
section.overview > data:nth-of-type(7) { grid-area: v3b; }
