/* RESET -------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* THEME -------------------------------------------------------------------- */

:root {
  --bg: #f3f2eb;
  --bg-hover: rgba(123, 154, 255, 0.07);
  --bg-even: hsla(226, 10%, 50%, 0.07);
  --fg: rgba(44, 62, 80, 0.9);
  --fg-light: rgba(0, 0, 0, 0.4);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgba(50, 121, 187, 1);
  --panel: #fff;
  --border: 1px solid rgba(182, 182, 182, 0.424);
  --border-radius: 5px;
  --action: var(--link-high-contrast);
  --success: hsl(157, 30%, 53%);
  --warning: hsl(37, 100%, 55%);
  --error: #fc4979;
  --bold: 600;
  --thin: 400;
  --bold-letter-spacing: 0.1rem;
}

[data-theme="dark"] {
  --bg: hsl(330, 10%, 23%);
  --bg-hover: rgba(212, 222, 255, 0.07);
  --bg-even: hsla(225, 10%, 62%, 0.164);
  --fg: hsla(266, 100%, 99%, 0.8);
  --fg-light: rgba(255, 255, 250, 0.5);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgb(104, 176, 243);
  --panel: hsl(30, 1%, 38%);
  --border: 1px solid rgba(0, 0, 0, 0.3);
  --success: hsl(157, 30%, 63%);
  --warning: #ffba4c;
  --error: hsl(344, 84%, 67%);
  --bold: 500;
  --thin: 300;
  --bold-letter-spacing: 0.127rem;
}

[data-theme="dark"] .icon-tabler {
  stroke-width: 1.6;
}

/* Main style --------------------------------------------------------------- */

body {
  background: var(--bg);
  color: var(--fg);
  stroke: var(--fg);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

a {
  color: var(--link);
}

/* LAYOUT ------------------------------------------------------------------- */

html,
body,
#app {
  height: 100%;
}

/* ANIMATIONS ------------------- */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* COLOR DEMO --------------------------------------------------------------- */

.color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.color-fg {
  background: var(--fg);
}

.color-link {
  background: var(--link);
}

.color-link-hi-c {
  background: var(--link-high-contrast);
}

.color-success {
  background: var(--success);
}

.color-warning {
  background: var(--warning);
}

.color-error {
  background: var(--error);
}

/* TYPOGRAPHY --------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

h1,
.h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--bold-letter-spacing);
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

h2,
.h2 {
  font-size: 1.15rem;
  font-weight: var(--bold);
}

h3,
.h3 {
  font-size: 0.76rem;
  text-transform: uppercase;
  font-weight: var(--thin);
  color: var(--fg-light);
  letter-spacing: var(--bold-letter-spacing);
  margin-bottom: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 0.9rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

data,
time {
  color: var(--success);
}

/* TABLES ------------------------------------------------------------------- */

table {
  width: 100%;
  background: var(--panel);
  border: var(--border);
  border-collapse: collapse;
}

table > thead,
table > tbody {
  overflow-x: scroll;
}

/* NODES -------------------------------------------------------------------- */

table.nodes > caption {
  padding: 0.8rem 1rem;
  border: var(--border);
  border-bottom: none;
  text-align: left;
  background: inherit;
  margin: 0;
}

table.nodes > thead > tr > th,
table.nodes > tbody > tr > td {
  padding: 0.8rem 1rem;
  border: var(--border);
}

table.nodes > tbody > tr:nth-child(even) {
  background-color: var(--bg-even);
}

table.nodes > thead > tr > th {
  text-align: left;
  font-weight: var(--bold);
}

table.nodes > tbody > tr > td {
  font-size: 0.9rem;
}

table.nodes > tbody > tr > td:nth-of-type(1),
table.nodes > tbody > tr > td:nth-of-type(3),
table.nodes > tbody > tr > td:nth-of-type(4) {
  white-space: nowrap;
}

table.nodes > tbody > tr > td:nth-of-type(2),
table.nodes > tbody > tr > td:nth-of-type(5),
table.nodes > tbody > tr > td:nth-of-type(6),
table.nodes > tbody > tr > td:nth-of-type(7),
table.nodes > tbody > tr > td:nth-of-type(8) {
  text-align: right;
}

table.nodes > tbody > tr > td > small {
  display: block;
  margin-top: 0.2rem;
  font-size: 0.6rem;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small {
  white-space: nowrap;
}

table.nodes > tbody > tr > td > small > time::before,
table.nodes > tbody > tr > td > small > data::before {
  content: attr(data-abbr) ": ";
  text-transform: uppercase;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small > time:not(:first-child),
table.nodes > tbody > tr > td > small > data:not(:first-child) {
  margin-left: 0.2rem;
}

/* COLOR SEMANTICS ---------------------------------------------------------- */

.warning {
  color: var(--warning);
}

.error,
.danger,
.failure {
  color: var(--error);
}
