/* RESET -------------------------------------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* THEME -------------------------------------------------------------------- */

@import url("vars.css");

/* Main style --------------------------------------------------------------- */

body {
  background: var(--bg);
  color: var(--fg);
  stroke: var(--fg);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

a {
  color: var(--link);
}

/* LAYOUT ------------------------------------------------------------------- */

html,
body,
#app {
  height: 100%;
}

/* ANIMATIONS ------------------- */

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* TYPOGRAPHY --------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

h1,
.h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--bold-letter-spacing);
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

h2,
.h2 {
  font-size: 1.15rem;
  font-weight: var(--bold);
}

h3,
.h3 {
  font-size: 0.76rem;
  text-transform: uppercase;
  font-weight: var(--thin);
  color: var(--fg-light);
  letter-spacing: var(--bold-letter-spacing);
  margin-bottom: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 0.9rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

/* TABLES ------------------------------------------------------------------- */

table {
  width: 100%;
  background: var(--panel);
  border: var(--border);
  border-collapse: collapse;
}

table > thead,
table > tbody {
  overflow-x: scroll;
}

/* NODES -------------------------------------------------------------------- */

table.nodes > caption {
  padding: 0.8rem 1rem;
  border: var(--border);
  border-bottom: none;
  text-align: left;
  background: inherit;
  margin: 0;
}

table.nodes > thead > tr > th,
table.nodes > tbody > tr > td {
  padding: 0.8rem 1rem;
  border: var(--border);
}

table.nodes > tbody > tr:nth-child(even) {
  background-color: var(--bg-even);
}

table.nodes > thead > tr > th {
  text-align: left;
  font-weight: var(--bold);
}

table.nodes > tbody > tr > td {
  font-size: 0.9rem;
}

table.nodes > tbody > tr > td:nth-of-type(1),
table.nodes > tbody > tr > td:nth-of-type(3),
table.nodes > tbody > tr > td:nth-of-type(4) {
  white-space: nowrap;
}

table.nodes > tbody > tr > td:nth-of-type(2),
table.nodes > tbody > tr > td:nth-of-type(5),
table.nodes > tbody > tr > td:nth-of-type(6),
table.nodes > tbody > tr > td:nth-of-type(7),
table.nodes > tbody > tr > td:nth-of-type(8) {
  text-align: right;
}

table.nodes > tbody > tr > td > small {
  display: block;
  margin-top: 0.2rem;
  font-size: 0.6rem;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small {
  white-space: nowrap;
}

table.nodes > tbody > tr > td > small > time::before,
table.nodes > tbody > tr > td > small > data::before {
  content: attr(data-abbr) ": ";
  text-transform: uppercase;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small > time:not(:first-child),
table.nodes > tbody > tr > td > small > data:not(:first-child) {
  margin-left: 0.2rem;
}

/* COLOR SEMANTICS ---------------------------------------------------------- */

.warning {
  color: var(--warning);
}

.error,
.danger,
.failure {
  color: var(--error);
}
