html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg: #f3f2eb;
  --bg-hover: rgba(123, 154, 255, 0.07);
  --bg-even: hsla(226, 10%, 50%, 0.07);
  --fg: rgba(0, 0, 0, 0.8);
  --fg-light: rgba(0, 0, 0, 0.4);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgba(50, 121, 187, 1);
  --panel: #fff;
  --border: 1px solid rgba(182, 182, 182, 0.424);
  --success: hsl(157, 30%, 53%);
  --warning: hsl(37, 100%, 55%);
  --error: #fc4979;
  --bold: 600;
  --thin: 400;
  --bold-letter-spacing: 0.1rem;
}

[data-theme="dark"] {
  --bg: hsl(330, 10%, 23%);
  --bg-hover: rgba(212, 222, 255, 0.07);
  --bg-even: hsla(225, 10%, 62%, 0.164);
  --fg: hsla(266, 100%, 99%, 0.99);
  --fg-light: rgba(255, 255, 250, 0.5);
  --link: rgba(50, 121, 187, 0.925);
  --link-high-contrast: rgb(104, 176, 243);
  --panel: hsl(30, 1%, 38%);
  --border: 1px solid rgba(0, 0, 0, 0.3);
  --success: hsl(157, 30%, 63%);
  --warning: #ffba4c;
  --error: hsl(344, 84%, 67%);
  --bold: 400;
  --thin: 300;
  --bold-letter-spacing: 0.127rem;
}

[data-theme="dark"] .icon-tabler {
  stroke-width: 1.6;
}

body {
  background: var(--bg);
  color: var(--fg);
  fill: var(--fg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 130%;
  overflow-x: scroll;
}

a {
  color: var(--link);
}

/* LAYOUT ------------------------------------------------------------------- */

html,
body,
#app {
  height: 100%;
}

nav {
  position: fixed;
  z-index: 2;
  background: var(--panel);
  border-right: var(--border);
  width: 5rem;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

main {
  height: 100%;
  padding: 1.2rem 1.2rem 0.4rem 6.2rem;
  display: flex;
  flex-direction: column;
}

main > article {
  flex: 1;
}
main > footer {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  color: var(--fg-light);
}
main > footer > a {
  color: inherit;
}

/* NAVIGATION --------------------------------------------------------------- */

nav > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: outside;
}

nav > ul > li {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  color: var(--fg);
  fill: var(--fg);
}

nav > ul > li.static {
  cursor: default;
  padding: 0.6rem 1rem;
}

nav > ul > li:not(.disabled):hover,
nav > ul > li:not(.disabled):active {
  background: var(--bg-hover);
  color: var(--link-high-contrast);
  fill: var(--link-high-contrast);
}

nav > ul > li.static:hover,
nav > ul > li.static:active {
  background: inherit;
  color: inherit;
  fill: inherit;
}

nav > ul > li.active {
  color: var(--link-high-contrast);
  fill: var(--link-high-contrast);
}

nav > ul > li.disabled {
  opacity: 0.2;
}

nav > ul > li > h2 {
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* COLOR DEMO --------------------------------------------------------------- */

.color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.color-fg {
  background: var(--fg);
}

.color-link {
  background: var(--link);
}

.color-link-hi-c {
  background: var(--link-high-contrast);
}

.color-success {
  background: var(--success);
}

.color-warning {
  background: var(--warning);
}

.color-error {
  background: var(--error);
}

/* TYPOGRAPHY --------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

h1,
.h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--bold-letter-spacing);
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

h2,
.h2 {
  font-size: 1.15rem;
  font-weight: var(--bold);
}

h3,
.h3 {
  font-size: 0.76rem;
  text-transform: uppercase;
  font-weight: var(--thin);
  color: var(--fg-light);
  letter-spacing: var(--bold-letter-spacing);
  margin-bottom: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 0.9rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

data,
time {
  color: var(--success);
}

/* SECTIONS ----------------------------------------------------------------- */

main > article > section {
  background: var(--panel);
  border: var(--border);
  padding: 0.8rem 1rem;
}

main > article > section > data,
main > article > section > time {
  display: inline-block;
}

main > article > section > data.big,
main > article > section > time.big {
  font-size: 2rem;
  font-weight: var(--bold);
}

/* OVERVIEW ----------------------------------------------------------------- */

section.overview {
  min-width: 37rem;
  display: grid;
  grid-template-columns: 5.3rem 1fr 2.1rem 1fr 5.3rem 1fr;
  column-gap: 1rem;
  grid-template-rows: 1.7rem 3rem repeat(3, 2rem);
  grid-template-areas:
    "t1 t1 t2 t2 t3 t3"
    "b1 b1 b2 b2 b3 b3"
    "l1a v1a l2a v2a l3a v3a"
    "l1b v1b l2b v2b l3b v3b"
    "l1c v1c . . . .";
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  section.overview {
    grid-template-columns: min-content 5.8rem 1fr 6rem 5.8rem 1fr min-content 5.8rem 1fr;
    grid-template-rows: 1.7rem 6rem 1rem 2rem;
    grid-template-areas:
      "t1 t1 t1 t2 t2 t2 t3 t3 t3"
      "b1 b1a b1a b2 b2a b2a b3 b3a b3a"
      "l1a l1b l1c l2a l2b l2c l3a l3b l3c"
      "v1a v1b v1c v2a v2b v2c v3a v3b v3c";
  }
}

section.overview > h2:nth-of-type(1) {
  grid-area: t1;
}

section.overview > h2:nth-of-type(2) {
  grid-area: t2;
}

section.overview > h2:nth-of-type(3) {
  grid-area: t3;
}

section.overview > .big {
  align-self: end;
}

section.overview > .big.one {
  grid-area: b1;
}
section.overview > .big.two {
  grid-area: b2;
}
section.overview > .big.three {
  grid-area: b3;
}

section.overview > .chart {
  padding-bottom: 0.4rem;
  display: none;
}
section.overview > .chart {
  width: 13vw;
  height: 6rem;
}
@media (min-width: 1000px) {
  section.overview > .chart {
    display: initial;
  }
}
@media (min-width: 1200px) {
  section.overview > .chart {
    width: 100%;
  }
}

section.overview > .chart.one {
  grid-area: b1a;
}
section.overview > .chart.two {
  grid-area: b2a;
}
section.overview > .chart.three {
  grid-area: b3a;
}

section.overview > .chart .ct-label,
section.overview > .chart .ct-grid,
section.overview > .chart .ct-horizontal {
  color: var(--fg-light);
}
section.overview > .chart .ct-line {
  stroke: var(--success);
}
section.overview > .chart .ct-area {
  fill: var(--success);
  fill-opacity: 0.15;
}

section.overview > .chart.failure .ct-line {
  stroke: var(--error);
}
section.overview > .chart.failure .ct-area {
  fill: var(--error);
}
section.overview > .chart.warning .ct-line {
  stroke: var(--warning);
}
section.overview > .chart.warning .ct-area {
  fill: var(--warning);
}

section.overview > h3,
section.overview > data:not(.big),
section.overview > time:not(.big) {
  align-self: center;
}

section.overview > h3:nth-of-type(1) {
  grid-area: l1a;
}

section.overview > h3:nth-of-type(2) {
  grid-area: l1b;
}

section.overview > h3:nth-of-type(3) {
  grid-area: l1c;
}

section.overview > h3:nth-of-type(4) {
  grid-area: l2a;
}

section.overview > h3:nth-of-type(5) {
  grid-area: l2b;
}

section.overview > h3:nth-of-type(6) {
  grid-area: l3a;
}

section.overview > h3:nth-of-type(7) {
  grid-area: l3b;
}

section.overview > data:nth-of-type(2) {
  grid-area: v1a;
}

section.overview > data:nth-of-type(3) {
  grid-area: v1b;
}

section.overview > data:nth-of-type(4) {
  grid-area: v1c;
}

section.overview > time:nth-of-type(2) {
  grid-area: v2a;
}

section.overview > time:nth-of-type(3) {
  grid-area: v2b;
}

section.overview > data:nth-of-type(6) {
  grid-area: v3a;
}

section.overview > data:nth-of-type(7) {
  grid-area: v3b;
}

/* TABLES ------------------------------------------------------------------- */

table {
  width: 100%;
  background: var(--panel);
  border: var(--border);
  border-collapse: collapse;
}

table > thead,
table > tbody {
  overflow-x: scroll;
}

/* NODES -------------------------------------------------------------------- */

table.nodes > caption {
  padding: 0.8rem 1rem;
  border: var(--border);
  border-bottom: none;
  text-align: left;
  background: inherit;
  margin: 0;
}

table.nodes > thead > tr > th,
table.nodes > tbody > tr > td {
  padding: 0.8rem 1rem;
  border: var(--border);
}

table.nodes > tbody > tr:nth-child(even) {
  background-color: var(--bg-even);
}

table.nodes > thead > tr > th {
  text-align: left;
  font-weight: var(--bold);
}

table.nodes > tbody > tr > td {
  font-size: 0.9rem;
}

table.nodes > tbody > tr > td:nth-of-type(1),
table.nodes > tbody > tr > td:nth-of-type(3),
table.nodes > tbody > tr > td:nth-of-type(4) {
  white-space: nowrap;
}

table.nodes > tbody > tr > td:nth-of-type(2),
table.nodes > tbody > tr > td:nth-of-type(5),
table.nodes > tbody > tr > td:nth-of-type(6),
table.nodes > tbody > tr > td:nth-of-type(7),
table.nodes > tbody > tr > td:nth-of-type(8) {
  text-align: right;
}

table.nodes > tbody > tr > td > small {
  display: block;
  margin-top: 0.2rem;
  font-size: 0.6rem;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small {
  white-space: nowrap;
}

table.nodes > tbody > tr > td > small > time::before,
table.nodes > tbody > tr > td > small > data::before {
  content: attr(data-abbr) ": ";
  text-transform: uppercase;
  color: var(--fg-light);
}

table.nodes > tbody > tr > td > small > time:not(:first-child),
table.nodes > tbody > tr > td > small > data:not(:first-child) {
  margin-left: 0.2rem;
}

/* COLOR SEMANTICS ---------------------------------------------------------- */

.warning {
  color: var(--warning);
  fill: var(--warning);
}

.error,
.danger,
.failure {
  color: var(--error);
  fill: var(--error);
}
